<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intentrouter.stubio">

    <!-- Required permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Ensure package visibility for app interactions -->
    <queries>
        <package android:name="com.liskovsoft.videomanager" />
        <package android:name="org.videolan.vlc" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.mxtech.videoplayer.ad.tv" />
        <package android:name="com.mxtech.videoplayer.ad" />
        <package android:name="com.mxtech.videoplayer.pro.tv" />
        <package android:name="org.xbmc.kodi" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:theme="@style/Theme.Transparent"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent">

            <intent-filter android:autoVerify="false" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Specific handling for local Stremio (127.0.0.1) URLs -->
                <data android:scheme="http" android:host="127.0.0.1" android:pathPattern=".*" />

                <!-- General HTTP and HTTPS links -->
                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- Handle video file extensions (e.g., MP4, MKV, etc.) -->
                <data android:mimeType="video/*" />

                <!-- Handle media URIs for local and content-based files -->
                <data android:scheme="content" />
                <data android:scheme="file" />

            </intent-filter>

        </activity>

    </application>

</manifest>
